.bg-gradient {
    background: linear-gradient(to right, #5c63e9, #01036c) !important; 
}

h1 {
    font-weight: 650;
}

#form-heading {
    font-weight: 650;
}

.weather-search {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border: 2px solid rgb(188, 185, 185);
}

.list-group {
    background-color: blue;
    height: 200px;
}

#today {
    border: 1px solid black;
    height: 190px;
    width: 100%;
    padding: 10px;
}

#today h2 {
    font-weight: 650;
    padding-bottom: 10px;
}

#forecast {
    background-color: blueviolet;
    height: 200px;
    width: 100%;
    margin-left: 0;
}

.title-container {
    display: flex;
}