.bg-gradient {
    background: linear-gradient(to right, #5c63e9, #01036c) !important; 
}


/* Title of the page */

h1 {
    font-weight: 650;
}


/* Search function */

#form-heading {
    font-weight: 650;
}

.weather-search {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border: 2px solid rgb(188, 185, 185);
}


/* Top right panel - current weather */

#today {
    border: 1px solid black;
    height: 190px;
    width: 100%;
    padding: 10px;
}

#today h3 {
    font-weight: 650;
    padding-bottom: 10px;
}

.title-container {
    display: flex;
}


/* Bottom right panel - weather forecast for next 5 days */

#forecast {
    height: auto;
    width: 100%;
    margin-left: 0;
}

.forecast-card {
    border: 1px solid black;
    margin: 5px; 
    color: white;
    background-color: #0c3650;
}

.forecast-title {
    font-weight: 650;
}

/* Bottom left panel - history display */
.clear-button {
    color: white;
}

.city-button {
    width: 100%;
    margin-top: 18px;
}

.city-button:hover {
    background-color: rgb(223, 224, 228) !important;
}

.clear-button:hover {
    color: white;
    background-color: rgb(75, 75, 75) !important;
}